.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('images.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.seminaire {
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding: 15px;
	position: relative;
}